<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-3 m-5 p-4">
            <form [formGroup]="forgotForm" novalidate>
                <div class="display-4 text-center mt-5 font-weight-bold text-lowercase text-color-shokuni">{{project_title}}</div>
                <div class="text-center mt-4 color-dark text-capitalize">{{pageTitle}}</div>
                <div class="form-group mt-5">
                    <input type="text" class="form-control no-side-border" appTrimInput required formControlName="email" maxlength="255" autocomplete="off" placeholder="Email Address">
                    <show-errors [control]="forgotForm.controls.email"></show-errors>
                </div>
                <p class="text-faint mt-5 ">We’ll send instructions on how to reset your password to your email address that is registered with Shokuni.</p>
                <div class="text-center mt-5">
                    <button type="submit" [disabled]="!forgotForm.valid" (click)="submitLogin (forgotForm)" class="btn btn-login btn-round pl-4 pr-4 pt-2 pb-2 text-capitalize">reset password</button>
                </div>
            </form>
            <div class="text-center text-faint mt-8">Don't have an account? 
                <span>
                    <a routerLink="/signup" class="text-capitalize text-danger text-bold">Sign Up</a>
                </span>
            </div>
        </div>
        <div class="col-md-8 d-xl-block d-none d-md-block d-lg-block login-image padding-bottom-100 fixed-right"></div>
    </div>
</div>